<nav id="default-menu" class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
	  		<h1><a href="/">Home</a></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	</ul>

	<section class="top-bar-section">
	<!-- Right Nav Section -->
	<ul class="right">
		

		<li class="has-dropdown">
			<a href="#">Artigos</a>

			<ul class="dropdown">
		  		<li><a href="#">Tutoriais</a></li>
		  		<li><a href="/post-form/new">Novo(temp)</a></li>
			</ul>

		</li>

		<li class="has-dropdown">
			<a href="#">Aplicativos</a>

			<ul class="dropdown">
		  		<li><a href="#">Lista de Afazeres</a></li>
		  		<li><a href="#">Tetris</a></li>
		  		<li><a href="#">Razonete</a></li>
			</ul>

		</li>

		<li class="active"><a href="#">Currículo</a></li>

		<li class="active"><a href="#">Portfólio</a></li>

		<li class="active"><a href="#">Contatos</a></li>

	</ul>

	<!-- Left Nav Section -->
	<ul class="left">
		<li><a href="#">Login</a></li>
	</ul>
	</section>
</nav>