<div>
	<div class="row">
		<div class="large-8 columns">
			<table>
				<caption><h2>Grupos</h2></caption>
				<thead>
					<tr>
						<th>Nome</th>
						<th>Permissões</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Admin</td>
						<td><a href="">ver permissões</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="large-4 columns">
			<caption>
				<h2>Permissões</h2>
				<tbody>
					<tr>
						<td>Editar</td>
						<td>Blablabla</td>
					</tr>
				</tbody>
			</caption>
		</div>
	</div>
</div>