<div id="home-banner" class="row">
	<div class="large-12 hide-for-small-only columns">
		<ul class="example-orbit" data-orbit>
			<li>
				<img src="http://fakeimg.pl/1080x220/8C8C8C/FFF/?text=banner+1" alt="slide 1">
				<div class="orbit-caption">
				  Caption One.
				</div>
			</li>
			<li>
				<img src="http://fakeimg.pl/1080x220/B48F8B/FFF/?text=banner+2" alt="slide 2">
				<div class="orbit-caption">
				  Caption Two.
				</div>
			</li>
			<li>
				<img src="http://fakeimg.pl/1080x220/8EAC84/FFF/?text=banner+3" alt="slide 3">
				<div class="orbit-caption">
				  Caption Three.
				</div>
			</li>
		</ul>
	</div>
</div>