<!-- Mixed -->
<script src="/frontend/assets/bower/lodash/dist/lodash.js"></script>

<!-- jQuery & it's Plugins -->
<script src="/frontend/assets/bower/jquery/jquery.js"></script>

<!-- Foundation -->
<script src="/frontend/assets/bower/foundation/js/foundation.js"></script>
<script src="/frontend/assets/bower/foundation/js/foundation/foundation.orbit.js"></script>
<script src="/frontend/assets/bower/foundation/js/foundation/foundation.reveal.js"></script>

<!-- Angular Assets & Dependencies -->
<script src="/frontend/assets/bower/firebase/firebase.js"></script>
<script src="/frontend/assets/bower/angular/angular.js"></script>
<script src="/frontend/assets/bower/angular-route/angular-route.js"></script>
<script src="/frontend/assets/bower/angularfire/angularfire.js"></script>

<!-- Application Module & Config -->
<script src="/frontend/app/AdminApp.js"></script>
<script src="/frontend/app/AdminRoutes.js"></script>

<!-- Services -->
<script src="/frontend/app/Admin/services/groupFactory.js"></script>
<script src="/frontend/app/Admin/services/permissionFactory.js"></script>
<script src="/frontend/app/Admin/services/statusFactory.js"></script>
<script src="/frontend/app/Admin/services/userFactory.js"></script>

<!-- Filters -->


<!-- Directives -->
<script src="/frontend/app/Admin/directives/groupsList.js"></script>
<script src="/frontend/app/Admin/directives/statusList.js"></script>
<script src="/frontend/app/Admin/directives/usersList.js"></script>

<!-- Controllers -->
<script src="/frontend/app/Admin/controllers/AdminCtrl.js"></script>
<script src="/frontend/app/Admin/controllers/AdminMenuCtrl.js"></script>
<script src="/frontend/app/Admin/controllers/GroupsCtrl.js"></script>
<script src="/frontend/app/Admin/controllers/PostsCtrl.js"></script>
<script src="/frontend/app/Admin/controllers/StatusCtrl.js"></script>
<script src="/frontend/app/Admin/controllers/UsersCtrl.js"></script>
