<!-- Mixed -->
<script src="/frontend/assets/bower/lodash/dist/lodash.js"></script>

<!-- jQuery & it's Plugins -->
<script src="/frontend/assets/bower/jquery/jquery.js"></script>

<!-- Foundation -->
<script src="/frontend/assets/bower/foundation/js/foundation.js"></script>
<script src="/frontend/assets/bower/foundation/js/foundation/foundation.orbit.js"></script>
<script src="/frontend/assets/bower/foundation/js/foundation/foundation.reveal.js"></script>

<!-- Angular Assets & Dependencies -->
<script src="/frontend/assets/bower/firebase/firebase.js"></script>
<script src="/frontend/assets/bower/angular/angular.js"></script>
<script src="/frontend/assets/bower/angular-route/angular-route.js"></script>
<script src="/frontend/assets/bower/angularfire/angularfire.js"></script>

<!-- Application Module & Config -->
<script src="/frontend/app/AdminApp.js"></script>
<script src="/frontend/app/rotasAdmin.js"></script>

<!-- Services -->
<script src="/frontend/app/services/statusFactory.js"></script>

<!-- Filters -->


<!-- Directives -->
<script src="/frontend/app/directives/statusList.js"></script>

<!-- Controllers -->
<script src="/frontend/app/controllers/AdminCtrl.js"></script>
<script src="/frontend/app/controllers/StatusCtrl.js"></script>
<script src="/frontend/app/controllers/AdminMenuCtrl.js"></script>
