<script src="/frontend/assets/bower/jquery/jquery.js"></script>

<script src="/frontend/assets/bower/lodash/dist/lodash.js"></script>

<!-- <script src="/frontend/assets/bower/fittext/fittext.js"></script> -->

<script src="/frontend/assets/bower/foundation/js/foundation.js"></script>
<script src="/frontend/assets/bower/foundation/js/foundation/foundation.orbit.js"></script>

<script src="/frontend/assets/bower/firebase/firebase.js"></script>
<script src="/frontend/assets/bower/angular/angular.js"></script>
<script src="/frontend/assets/bower/angular-route/angular-route.js"></script>
<script src="/frontend/assets/bower/angularfire/angularfire.js"></script>

<script src="/frontend/app/AdminApp.js"></script>
<script src="/frontend/app/rotasAdmin.js"></script>

<!-- Controllers -->
<script src="/frontend/app/controllers/AdminCtrl.js"></script>
<!-- Directives -->
