<!-- Mixed -->
<script src="/frontend/assets/bower/lodash/dist/lodash.js"></script>

<!-- jQuery & it's Plugins -->
<script src="/frontend/assets/bower/jquery/jquery.js"></script>

<!-- Foundation -->
<script src="/frontend/assets/bower/foundation/js/foundation.js"></script>
<script src="/frontend/assets/bower/foundation/js/foundation/foundation.orbit.js"></script>

<!-- Angular Assets & Dependencies -->
<script src="/frontend/assets/bower/firebase/firebase.js"></script>
<script src="/frontend/assets/bower/angular/angular.js"></script>
<script src="/frontend/assets/bower/angular-route/angular-route.js"></script>
<script src="/frontend/assets/bower/angularfire/angularfire.js"></script>

<!-- Application Module & Config -->
<script src="/frontend/app/BlogApp.js"></script>
<script src="/frontend/app/BlogRoutes.js"></script>

<!-- Services -->
<script src="/frontend/app/Blog/services/jogadorFactory.js"></script>
<script src="/frontend/app/Blog/services/jogoMediator.js"></script>
<script src="/frontend/app/Blog/services/pecaFactory.js"></script>

<!-- Filters -->

<!-- Directives -->
<script src="/frontend/app/Blog/directives/excerptWidget.js"></script>
<script src="/frontend/app/Blog/directives/homeBanner.js"></script>
<script src="/frontend/app/Blog/directives/homeHeader.js"></script>
<script src="/frontend/app/Blog/directives/loginWidget.js"></script>

<!-- Controllers -->
<script src="/frontend/app/Blog/controllers/ArtigosCtrl.js"></script>
<script src="/frontend/app/Blog/controllers/AplicativosCtrl.js"></script>
<script src="/frontend/app/Blog/controllers/ContatosCtrl.js"></script>
<script src="/frontend/app/Blog/controllers/CurriculoCtrl.js"></script>
<script src="/frontend/app/Blog/controllers/HomeCtrl.js"></script>
<script src="/frontend/app/Blog/controllers/LoginCtrl.js"></script>
<script src="/frontend/app/Blog/controllers/MenuCtrl.js"></script>
<script src="/frontend/app/Blog/controllers/RazoneteCtrl.js"></script>
<script src="/frontend/app/Blog/controllers/TetrisCtrl.js"></script>
<script src="/frontend/app/Blog/controllers/TodoListCtrl.js"></script>
<script src="/frontend/app/Blog/controllers/TrabalhosCtrl.js"></script>

