<nav id="default-menu" class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
	  		<h1><a href="/">Home</a></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	</ul>

	<section class="top-bar-section">
		<!-- Right Nav Section -->
		<ul class="right">
			
			
			<li class="has-dropdown">
				<a href="/artigos">Artigos</a>

				<ul class="dropdown">
					<!-- // TODO Categorias[ng-repeat] -->
			  		<li><a href="/artigos/tutoriais">Tutoriais</a></li>
				</ul>

			</li>

			<li class="has-dropdown">
				<a href="/aplicativos">Aplicativos</a>

				<ul class="dropdown">
			  		<li><a href="/aplicativos/todolist">Lista de Afazeres</a></li>
			  		<li><a href="/aplicativos/tetris">Tetris</a></li>
			  		<li><a href="/aplicativos/razonete">Razonete</a></li>
				</ul>

			</li>

			<li class="active"><a href="/curriculo">Currículo</a></li>

			<li class="active"><a href="/trabalhos">Trabalhos</a></li>

			<li class="active"><a href="/contatos">Contatos</a></li>

		</ul>

		<!-- Left Nav Section -->
		<ul class="left">
			<li><a href="#">Login</a></li>
		</ul>
	</section>
</nav>