<div id="home-banner" class="row">
	<div class="large-12 hide-for-small-only columns">
		<ul class="example-orbit" data-orbit>
			<li>
				<img src="http://lorempixel.com/output/fashion-q-c-1080-240-5.jpg" alt="slide 1" />
				<div class="orbit-caption">
				  Caption One.
				</div>
			</li>
			<li>
				<img src="http://lorempixel.com/output/nightlife-q-c-1080-240-9.jpg" alt="slide 2">
				<div class="orbit-caption">
				  Caption Two.
				</div>
			</li>
			<li>
				<img src="http://lorempixel.com/output/people-q-c-1080-240-9.jpg" alt="slide 3">
				<div class="orbit-caption">
				  Caption Three.
				</div>
			</li>
		</ul>
	</div>
</div>