<div class="row" id="excerpt-widget">

	<div class="small-12 medium-6 columns">
		<article class="last-excerpt-article">
			<header>
				<h3>Title Sample About Nothing 1</h3>
				<p>
					<time itemprop="dateCreated" datetime="2013-10-30"> Wednesday 30 October 2013</time>
				</p>
			</header>
			<p>
				<img src="http://fakeimg.pl/350x200/00CED1/FFF/?text=img+placeholder">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, esse illo maxime veritatis modi id optio non quia aliquid. Est, quae dolor nihil ipsum voluptates ab ut corporis! Totam, aut, veniam, quia, eaque quo praesentium magni maxime debitis nemo soluta consequuntur quae! Distinctio, esse fugiat velit asperiores quasi adipisci nulla nam maiores eos similique vel reiciendis iste corporis. Nisi, iste...
				<a href="">ler mais</a>
			</p>
		</article>
	</div>

	<div class="small-12 medium-6 columns">
		<article class="more-excerpt-articles">
			<header>
				<h3>Title Sample Nothing 2</h3>
				<p>
					<time itemprop="dateCreated" datetime="2013-10-30"> Wednesday 30 October 2013</time>
				</p>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil officiis 	inventore nam aliquam molestias at modi soluta aspernatur accusantium eos...
				<a href="">ler mais</a>
			</p>
		</article>

		<article class="more-excerpt-articles">
			<header>
				<h3>Title Sample Nothing 2</h3>
				<p>
					<time itemprop="dateCreated" datetime="2013-10-30"> Wednesday 30 October 2013</time>
				</p>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil officiis inventore nam aliquam molestias at modi soluta aspernatur accusantium eos...
				<a href="">ler mais</a>
			</p>
		</article>

		<article class="more-excerpt-articles">
			<header>
				<h3>Title Sample Nothing 2</h3>
				<p>
					<time itemprop="dateCreated" datetime="2013-10-30"> Wednesday 30 October 2013</time>
				</p>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil officiis inventore nam aliquam molestias at modi soluta aspernatur accusantium eos...
				<a href="">ler mais</a>
			</p>
		</article>
	</div>
</div>