<div id="partial-home">
	<div data-home-banner></div>
	
	<div id="home-promos" class="row">
		<div class="large-12 columns">
			<ul id="featured1" class="small-block-grid-1 large-block-grid-3">
				<li>
					<img src="http://fakeimg.pl/420x360/00CED1/FFF/?text=promo+1">
				</li>
				<li>
					<img src="http://fakeimg.pl/420x360/D45454/FFF/?text=promo+2">
				</li>
				<li>
					<img src="http://fakeimg.pl/420x360/D4B754/FFF/?text=promo+3">
				</li>
			</ul>
		</div>
	</div>

	artigos+5 aplicativos+5
	
</div>