<div id="partial-home">
	<div id="home-banner" class="row">
		<div class="large-12 columns">
			<ul class="example-orbit" data-orbit>
				<li>
					<img src="http://lorempixel.com/output/fashion-q-c-1080-240-5.jpg" alt="slide 1" />
					<div class="orbit-caption">
					  Caption One.
					</div>
				</li>
				<li>
					<img src="http://lorempixel.com/output/nightlife-q-c-1080-240-9.jpg" alt="slide 2">
					<div class="orbit-caption">
					  Caption Two.
					</div>
				</li>
				<li>
					<img src="http://lorempixel.com/output/people-q-c-1080-240-9.jpg" alt="slide 3">
					<div class="orbit-caption">
					  Caption Three.
					</div>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="home-promos" class="row">
		<div class="large-12 columns">
			<ul class="small-block-grid-1 large-block-grid-3">
				<li>
					<img src="http://fakeimg.pl/420x360/00CED1/FFF/?text=promo+1">
				</li>
				<li>
					<img src="http://fakeimg.pl/420x360/00CED1/FFF/?text=promo+2">
				</li>
				<li>
					<img src="http://fakeimg.pl/420x360/00CED1/FFF/?text=promo+3">
				</li>
			</ul>
		</div>
	</div>

	artigos+5 aplicativos+5
	
</div>