/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// SETTINGS OF FOUNDATION (that will substitute default variable values...)

@import "compass/reset";
@import "normalize";
@import "foundation";

/* Layouts */
nav#default-menu {

}

header#default-header {
	.header-title {
		text-align: center;
		@media only screen and (max-width: 40em) {
			h1 {
				font-size: 20px;
			}
		}
	}
}

section#partial-content {
	
}

footer#default-footer {

}

/* Partials */
#partial-home {
	#home-banner {
		ul {
			margin-left: 0;
		}
	}
	#home-promos {
		margin-bottom: -10px;

		ul[class*="block-grid-"] {
			margin-left: -($block-grid-default-spacing/2);
			margin-right: -($block-grid-default-spacing/2);
			li {
				text-align: center;
			}
		}
	}
}

#excerpt-widget {

	article {
		img {
			float: left;
			margin: 5px;
		}
		p {
			float: left;
			text-align: justify;
			text-justify: inter-word;
		}

		h3 {
			float: left;
		}
	}

	.last-excerpt-article {
		
	}
	
	.more-excerpt-articles {
		h3 {
			font-size: rem-calc(23);
		}

		p {
			font-size: rem-calc(14);
		}
	}
}