<div id="partial-home">
	<div data-home-banner></div>
	
	<div id="home-promos" class="row">
		<div class="large-12 columns">
			<ul id="featured1" class="small-block-grid-1 large-block-grid-3">
				<li>
					<img src="http://fakeimg.pl/420x360/00CED1/FFF/?text=promo+1">
				</li>
				<li>
					<img src="http://fakeimg.pl/420x360/D45454/FFF/?text=promo+2">
				</li>
				<li>
					<img src="http://fakeimg.pl/420x360/D4B754/FFF/?text=promo+3">
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-8 columns">
			<h2>ULTIMOS ARTIGOS</h2>
			<div data-excerpt-widget></div>
		</div>
		<div class="small-12 medium-4 columns">
			<div class="row">
				<div class="large-12 columns">
					<img src="http://fakeimg.pl/600x240/00CED1/FFF/?text=Aplicativos">
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<img src="http://fakeimg.pl/600x240/00CED1/FFF/?text=Portfólio">
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<img src="http://fakeimg.pl/600x240/00CED1/FFF/?text=Currículo">
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<img src="http://fakeimg.pl/600x240/00CED1/FFF/?text=Contatos">
				</div>
			</div>
		</div>
	</div>
	
	
</div>